/* HomePage.css */

body {
    background-color: #1a1a1a; /* 어두운 배경색 */
    color: #e63946; /* 강렬한 글자 색상 */
    font-family: 'Creepster', cursive; /* 악마 분위기에 맞는 폰트 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    
}


h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    color: #f1faee; /* 밝은 색상으로 강조 */
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.button-container {
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}

button {
    background-color: #e63946; /* 버튼 배경색 */
    color: #ffffff; /* 버튼 글자색 */
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d62839; /* 버튼 호버 색상 */
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px; /* 이미지 모서리 둥글게 */
}