.payCheckContainer {
  padding: 0 60px;
}
.payCheckContainer .txtBold {
  font-size: 28px;
  font-weight: 700;
}
.payCheckContainer .pointUse {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.payCheckContainer .pointUse > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.payCheckContainer .pointUse > div > div {
  position: relative;
}
.payCheckContainer .pointUse > div input {
  position: absolute;
  left: 30px;
  opacity: 0;
}
.payCheckContainer .pointUse > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 60px;
  font-family: "NotoSans KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.payCheckContainer .pointUse > div label:last-of-type {
  bottom: #aaa;
}