.payCheckContainer {
  padding: 0 60px 177px;
}
.payCheckContainer .txtBold {
  font-size: 28px;
  font-weight: 700;
}
.payCheckContainer .borderBottom {
  border-bottom: 1px solid #ccc;
}
.payCheckContainer .pointUse {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payCheckContainer .pointUse > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.payCheckContainer .pointUse > div > div {
  position: relative;
}
.payCheckContainer .pointUse > div input {
  position: absolute;
  left: 30px;
  opacity: 0;
}
.payCheckContainer .pointUse > div input:checked + label {
  border: 3px solid #bd2030;
}
.payCheckContainer .pointUse > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 60px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.payCheckContainer .payMethod {
  padding: 120px 0;
}
.payCheckContainer .payMethod > p {
  margin-bottom: 65px;
}
.payCheckContainer .payMethod > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payCheckContainer .payMethod > div > div {
  width: 234px;
  position: relative;
}
.payCheckContainer .payMethod > div > div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.payCheckContainer .payMethod > div > div input:checked + label {
  border: 3px solid #bd2030;
}
.payCheckContainer .payMethod > div > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 228px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}
.payCheckContainer .payMethod > div > div label svg {
  font-size: 32px;
}
.payCheckContainer .payMethod > div > div label > p {
  margin-top: 12px;
}
.payCheckContainer .payMethod > div > div:first-child {
  width: 376px;
}
.payCheckContainer .payMethod > div > div:nth-child(2) label {
  background: #FEE500;
  color: #000;
}
.payCheckContainer .payMethod > div > div:nth-child(3) label {
  background: #2DB400;
}
.payCheckContainer .payPricePoint {
  padding: 60px 20px;
}
.payCheckContainer .payPricePoint h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payCheckContainer .payPricePoint h3 + h3 {
  margin-top: 32px;
}
.payCheckContainer .totalPrice {
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
}
.payCheckContainer .totalPrice span:last-of-type {
  font-weight: 700;
}
.payCheckContainer .btn-wrap {
  margin-top: 60px;
}