* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  color: #1a1a1a;
}

#root {
  width: 1024px;
  height: 1792px;
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.scrollContainer {
  overflow-y: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #fff;
  width: 317px;
  height: 90px;
  font-size: 24px;
}
.btn-small {
  width: 280px;
  height: 80px;
}
.btn-red {
  background: #bd2030;
}
.btn-gray {
  background: #666;
}
.btn-black {
  background: #1a1a1a;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-wrap .btn {
  margin: 0 15px;
}

.creepster {
  font-family: "Creepster", system-ui;
}

.notoSans {
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  font-family: "Creepster", system-ui;
  color: #bd2030;
  font-size: 60px;
  text-align: center;
}
.logo.white {
  color: #fff;
}

header {
  background: #bd2030;
  height: 140px;
  text-align: center;
  position: relative;
}
header .btn-home {
  position: absolute;
  left: 60px;
  bottom: 40px;
}
header .btn-home svg {
  font-size: 32px;
  color: #fff;
}
header h1 {
  margin: 0 auto;
  line-height: 140px;
}
header .time {
  position: absolute;
  right: 60px;
  bottom: 40px;
  color: #fff;
  font-size: 20px;
}

footer {
  height: 100px;
  background: #320909;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .btn-call {
  background: #701d1d;
  color: #fff;
  height: 100%;
  font-size: 36px;
  width: 240px;
  line-height: 100px;
  cursor: pointer;
}
footer .btn-call svg {
  height: 28px;
}
footer > div {
  width: calc(100% - 240px);
  padding: 0 60px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer > div span {
  font-size: 26px;
  color: #fff;
  position: relative;
}
footer > div span.active {
  font-weight: bold;
}
footer > div span.active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 1px;
  background: #bd2030;
}

.modalTop {
  height: 100px;
  background: #bd2030;
  color: #fff;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modalTop .title {
  font-size: 36px;
}
.modalTop .btn-close {
  background: none;
  font-size: 32px;
  color: #fff;
  padding: 0;
}